<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meteoepal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeteoEpal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ActivityGeneralInfos"
            android:exported="false" />
        <activity
            android:name=".ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityHome" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityAtalanti" />
        <activity android:name=".ActivityThessaloniki" />
        <activity android:name=".ActivityDimHrakleio" />
        <activity android:name=".ActivityKarpenisi" />
        <activity android:name="ActivityKesariani" />
        <activity android:name="ActivityThiba" />
        <activity android:name=".ActivityEmyWeather" />
    </application>

</manifest>